@{
    ViewData["Title"] = "Homepage";
}

<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="row col-sm-10 my-2 gx-2">
        <div class="col-md-7 my-auto">
            <h1 class="text-primary ">Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugiat consequuntur magnam sint officia et
                atque ipsam? Dicta neque eveniet, assumenda mollitia molestiae quasi ipsam deserunt autem culpa, maiores
                amet.</p>
            <a class="btn btn-primary" asp-area="" asp-controller="q1" asp-action="product">Check Our Products</a>
        </div>
        <div class="col-md-5">
            <img src="https://picsum.photos/1200/800" class="my-3 img-fluid" alt="">
        </div>
    </div>
</div>