@{

    ViewData["Title"] = "Homepage";
}

@section Styles {
<style>
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/garden.jpg');
        background-position: 50% 0%;
        background-size: cover;
    }

    .text-primary {
        color: whitesmoke !important;
        text-shadow: #4E9F3D 0px 0px 5px;
    }

    .text-muted {
        color: whitesmoke !important;
    }
</style>
}

<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="col-md-6 my-auto text-center">
        <h1 class="text-primary ">GardenBlooms for all your gardening needs</h1>
        <p class="text-white">Seeds, live plants, gardening tools, or even decorations? We have it all! </p>
        <a class="btn btn-primary" asp-area="" asp-controller="q1" asp-action="product">Check Our Products</a>
    </div>
</div>