@{
    ViewData["Title"] = "Profile";
}

<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center text-primary mt-2">About Our Team</h1>
    <div class="row col-sm-10 mt-1 mb-2 gx-3">
        <div class="col-md-5">
            <img src="https://picsum.photos/1200/800" class="my-3 img-fluid" alt="">
        </div>
        <div class="col-md-7 my-auto">
            <h2 class="text-primary ">Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugiat consequuntur magnam sint officia
                    et
                    atque ipsam? Dicta neque eveniet, assumenda mollitia molestiae quasi ipsam deserunt autem culpa,
                    maiores
                    amet.</p>
        </div>
    </div>

    <div class="row col-sm-10 mt-1 mb-2 gx-3">
                <div class="col-md-7 my-auto">
            <h2 class="text-primary ">Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugiat consequuntur magnam sint officia
                    et
                    atque ipsam? Dicta neque eveniet, assumenda mollitia molestiae quasi ipsam deserunt autem culpa,
                    maiores
                    amet.</p>
        </div>
        <div class="col-md-5">
            <img src="https://picsum.photos/1200/800" class="my-3 img-fluid" alt="">
        </div>
    </div>
</div>