body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/garden.jpg');
    background-position: 50% 0%;
    background-size: cover;
}

.text-primary {
    color: whitesmoke !important;
    text-shadow: #4E9F3D 0px 0px 5px;
}

.text-muted {
    color: whitesmoke !important;
}
