@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Lato', sans-serif !important;
  margin-bottom: 60px;
  min-height: 100%;
}

a {
  color: #4E9F3D;
}

.btn-primary {
  color: #fff;
  background-color: #4E9F3D;
  border-color: #37702b;
}

.btn-primary:hover {
  background-color: #37702b;
}

.text-primary {
  color: #1E5128 !important;
}